<%= turbo_frame_tag 'room_form' do %>
  <div class="mx-auto w-full">
    <h4 class="font-medium text-center text-base text-white">Create New Room</h4>

    <%= render "form", room: @room %>

    <%#= link_to "Back to rooms", rooms_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>